.accounts-page {
  .header-section {
    text-align: center;
    padding: 20px 10px;
    font-size: 26px;
    text-transform: uppercase;
    color: #202020;
  }

  .wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;

    .card {
      padding: 20px;
      border-radius: 10px;
      text-decoration: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      color: #202020;

      &:hover {
        background-color: #f9f9ff;
      }
    }
  }
}
